server {
  
  # Listen to port defined by Heroku
  listen $PORT default_server;
 
  # Serve static files for requests made to /
  location / {        
    root /usr/src/app/build;
	proxy_pass https://kanbandingo-api.herokuapp.com/;
  }
}