.Column {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: black 4px solid;
	height: 90%;
	display: flex;
	flex-direction: column;
}

.columnOptions {
	margin-bottom: 10px;
}

.ticketContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

.ticketList {
	display: flex;
	flex-direction: column;
}