.Ticket {
	width: 25%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	background: royalblue;
}

.comment {
	margin-bottom: 30px;
	font-size: 20px;
}

.hidden {
	display: none;
}

.closeTicket {
	position: absolute;
	top: 0px;
	right: 0px;
}